.works {
	background-color: #000;

	&__container {
		max-width: calc(1544px + 64px);
	}

	&__body {}

	&__item {}

	&__actions {
		margin-top: 80px;
		display: flex;
		align-items: center;
		gap: 16px;
		padding-left: 130px;

		.-btn-03 {
			flex: 1 1 auto;
			justify-content: center;
		}
	}
}

.top-section-one {
	margin-bottom: 100px;
	display: flex;
	gap: 32px;

	&__title {
		font-size: 120px;
		font-weight: 800;
		text-transform: uppercase;
		text-indent: 106px;
		line-height: 80%;
		position: relative;

		&::before {
			content: '';
			width: 78px;
			height: 10px;
			background-color: #DDF1BB;
			position: absolute;
			left: 2px;
			top: calc(25% - 7px);
		}
	}

	span {
		height: 1px;
		width: 218px;
		flex: 0 0 218px;
		background-color: hsla(0, 0%, 100%, 0.4);
		margin-top: 41px;
	}

	&__info {
		margin-top: 24px;
		font-size: 32px;
		line-height: 110%;
		text-transform: uppercase;
		font-weight: 500;
	}
}

.item-works {
	display: flex;
	overflow: hidden;

	&:not(:last-child) {
		margin-bottom: 50px;
	}

	&__value {
		margin-top: 140px;
		font-weight: 500;
		font-size: 140px;
		color: hsla(0, 0%, 100%, 0.12);
		-webkit-text-stroke: 1px #A5A5A5;
		margin-right: -86px;
		position: relative;
		z-index: 2;
	}

	&__body {
		position: relative;
		flex: 1 1 auto;
		padding-bottom: 37.63%;

		&::before {
			content: '';
			z-index: 2;
			width: 190px;
			height: 190px;
			position: absolute;
			top: -96px;
			left: -96px;
			transform: rotate(45deg);
			background-color: #000;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {}
}

.info-item-works {
	z-index: 3;
	position: absolute;
	bottom: 16px;
	left: 28px;
	right: 28px;
	padding-bottom: 16px;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	&__date {
		font-size: 16px;
	}

	&__body {}

	&__uptitle {
		margin-bottom: 4px;
		color: #DDF1BB;
		font-size: 14px;
		font-weight: 500;
		text-align: right;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
	}
}

.home-works__decor {
	span {
		display: inline-block;
		position: absolute;
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12),
		&:nth-child(13),
		&:nth-child(14) {
			width: 19px;
			height: 19px;
			background-color: #414141;
		}

		&:nth-child(15),
		&:nth-child(16),
		&:nth-child(17),
		&:nth-child(18),
		&:nth-child(19),
		&:nth-child(20),
		&:nth-child(21) {
			width: 15px;
			height: 15px;
			background-color: #414141;
		}

		&:nth-child(22),
		&:nth-child(23),
		&:nth-child(24),
		&:nth-child(25) {
			width: 12px;
			height: 12px;
			background-color: #414141;
		}

		&:nth-child(26),
		&:nth-child(27),
		&:nth-child(28),
		&:nth-child(29),
		&:nth-child(30),
		&:nth-child(31),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34),
		&:nth-child(35) {
			width: 8px;
			height: 8px;
			background-color: #414141;
		}

		&:nth-child(36) {
			background-color: #414141;
			width: 55px;
			height: 6px;
		}

		&:nth-child(37) {
			background-color: #DDF1BB;
			width: 78px;
			height: 10px;
		}

		&:nth-child(38),
		&:nth-child(39),
		&:nth-child(40),
		&:nth-child(41) {
			background-color: #DDF1BB;
			width: 55px;
			height: 6px;
		}
		&:nth-child(42){
				background-color: #DDF1BB;
			width: 6px;
			height: 55px;
		}
	}
}