<section data-fls-homeworks class="works -spadding">
	<div class="works__container">
		<div class="top-section-one">
			<h2 class="top-section-one__title">
				Selected Works
			</h2>
			<span></span>
			<p class="top-section-one__info">
				From ambitious startups to established brands, we design digital experiences that inspire, engage, and
				perform.
			</p>
		</div>
		<div class="works__body">
			<a href="#" class="works__item item-works">
				<div class="item-works__value">001</div>
				<div class="item-works__body">
					<img src="@img/home/works/01/01.jpg" alt="Image">
					<div class="item-works__info info-item-works">
						<div class="info-item-works__date">2025</div>
						<div class="info-item-works__body">
							<div class="info-item-works__uptitle">Branding / Website</div>
							<div class="info-item-works__title">RNDRCRAFT</div>
						</div>
					</div>
				</div>
			</a>
			<a href="#" class="works__item item-works">
				<div class="item-works__value">001</div>
				<div class="item-works__body">
					<img src="@img/home/works/05/01.jpg" alt="Image">
					<div class="item-works__info info-item-works">
						<div class="info-item-works__date">2025</div>
						<div class="info-item-works__body">
							<div class="info-item-works__uptitle">Branding / Website</div>
							<div class="info-item-works__title">RNDRCRAFT</div>
						</div>
					</div>
				</div>
			</a>
			<a href="#" class="works__item item-works">
				<div class="item-works__value">001</div>
				<div class="item-works__body">
					<img src="@img/home/works/02/01.jpg" alt="Image">
					<div class="item-works__info info-item-works">
						<div class="info-item-works__date">2025</div>
						<div class="info-item-works__body">
							<div class="info-item-works__uptitle">Branding / Website</div>
							<div class="info-item-works__title">RNDRCRAFT</div>
						</div>
					</div>
				</div>
			</a>
			<a href="#" class="works__item item-works">
				<div class="item-works__value">001</div>
				<div class="item-works__body">
					<img src="@img/home/works/03/01.jpg" alt="Image">
					<div class="item-works__info info-item-works">
						<div class="info-item-works__date">2025</div>
						<div class="info-item-works__body">
							<div class="info-item-works__uptitle">Branding / Website</div>
							<div class="info-item-works__title">RNDRCRAFT</div>
						</div>
					</div>
				</div>
			</a>
			<a href="#" class="works__item item-works">
				<div class="item-works__value">001</div>
				<div class="item-works__body">
					<img src="@img/home/works/04/01.jpg" alt="Image">
					<div class="item-works__info info-item-works">
						<div class="info-item-works__date">2025</div>
						<div class="info-item-works__body">
							<div class="info-item-works__uptitle">Branding / Website</div>
							<div class="info-item-works__title">RNDRCRAFT</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="works__actions">
			<a href="#" class="-btn-02">
				All Cases
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M29.8324 9H14.5632L10.187 13.2194H25.442L7.00067 31H13.363L28.6232 16.2866L28.9589 15.9629L32.9183 12.1453H32.9171L33.0007 12.0647V12.0536L29.8324 9ZM32.9981 16.1936L28.6232 20.3919V30.995L32.9994 26.7756V25.0268L32.9981 16.1936Z"
						fill="#DDF1BB" />
				</svg>
			</a>
			<a href="#" class="-btn-03">
				Add your Project in List
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M22.363 7V15.8401L21.1115 17.0848L21.0724 17.1227L20.4412 17.7511L20.4088 17.7849L15.8072 22.3638H7V17.6362H17.637V7H22.363Z"
						fill="black" />
					<path d="M33 17.6362V22.3638H22.363V33H17.637V24.1072L18.1681 23.576L18.4438 23.299L24.1049 17.6362H33Z"
						fill="black" />
				</svg>
			</a>
		</div>
	</div>
</section>