<section data-fls-homecontacts class="home-contacts -spadding">
	<div class="home-contacts__container">
		<div class="home-contacts__wrapper">
			<div class="home-contacts__title">Let's Build <br>
				Something Exceptional</div>
			<div class="home-contacts__body">
				<div class="home-contacts__info info-home-contacts">
					<div class="info-home-contacts__decor">
						<img src="@img/home/contacts/01/01.png" alt="Image">
					</div>
					<div class="info-home-contacts__items">
						<div class="info-home-contacts__item item-info-home-contacts">
							<div class="item-info-home-contacts__title">Address</div>
							<a href="#">
								Kyiv, Ukraine, <br> Business centr “Parus”
							</a>
						</div>
						<div class="info-home-contacts__item item-info-home-contacts">
							<div class="item-info-home-contacts__title">Contacts</div>
							<a href="tel:380938168814">+38 093 816 88 14</a>
							<a href="mailto:manager@blocks-studio.com">manager@blocks-studio.com</a>
						</div>
					</div>
				</div>
				<form action="#" method="POST" class="home-contacts__form form-home-contacts">
					<div class="form-home-contacts__title">Just fill form and we will contact you <br> with our proposal
					</div>
					<div class="form-home-contacts__items">
						<div class="form-home-contacts__item item-form-home-contacts">
							<svg class="item-form-home-contacts__svg-top" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M919.854 0.500079L19.3536 0.5L0.353577 19.5" stroke="#6B7185" stroke-opacity="0.2" />
							</svg>
							<input data-fls-input autocomplete="off" type="text" name="form[]" placeholder="Your Name"
								class="input">
							<svg class="item-form-home-contacts__svg-bottom" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 19.3535L900.5 19.3535L919.5 0.353518" stroke="#6B7185" />
							</svg>
						</div>
						<div class="form-home-contacts__item item-form-home-contacts">
							<svg class="item-form-home-contacts__svg-top" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M919.854 0.500079L19.3536 0.5L0.353577 19.5" stroke="#6B7185" stroke-opacity="0.2" />
							</svg>
							<input data-fls-input autocomplete="off" type="text" name="form[]" placeholder="Your email"
								class="input">
							<svg class="item-form-home-contacts__svg-bottom" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 19.3535L900.5 19.3535L919.5 0.353518" stroke="#6B7185" />
							</svg>
						</div>
						<div class="form-home-contacts__item item-form-home-contacts -txt">
							<svg class="item-form-home-contacts__svg-top" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M919.854 0.500079L19.3536 0.5L0.353577 19.5" stroke="#6B7185" stroke-opacity="0.2" />
							</svg>
							<textarea autocomplete="off" name="form[]"
								placeholder="Describe your project and the services you need (Optional)"
								class="input"></textarea>
							<svg class="item-form-home-contacts__svg-bottom" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 19.3535L900.5 19.3535L919.5 0.353518" stroke="#6B7185" />
							</svg>
						</div>
						<div class="form-home-contacts__item item-form-home-contacts">
							<svg class="item-form-home-contacts__svg-top" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M919.854 0.500079L19.3536 0.5L0.353577 19.5" stroke="#6B7185" stroke-opacity="0.2" />
							</svg>
							<input data-fls-input autocomplete="off" type="text" name="form[]"
								placeholder="Your Budget (Optional)" class="input">
							<svg class="item-form-home-contacts__svg-bottom" width="920" height="20" viewBox="0 0 920 20"
								fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 19.3535L900.5 19.3535L919.5 0.353518" stroke="#6B7185" />
							</svg>
						</div>
					</div>
					<div class="form-home-contacts__actions">
						<button type="submit" class="-btn-04">
							Send
							<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M29.8324 9H14.5632L10.187 13.2194H25.442L7.00067 31H13.363L28.6232 16.2866L28.9589 15.9629L32.9183 12.1453H32.9171L33.0007 12.0647V12.0536L29.8324 9ZM32.9981 16.1936L28.6232 20.3919V30.995L32.9994 26.7756V25.0268L32.9981 16.1936Z"
									fill="black" />
							</svg>
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>