<div data-fls-homeservices class="services -spadding">
	<div class="services__container">
		<div class="top-section-two">
			<h2 class="top-section-two__title">
				What <br>
				We Build
			</h2>
			<span></span>
			<p class="top-section-two__info">
				Every solution we build is designed to strengthen your brand, improve user experience, and create measurable
				value.
			</p>
		</div>
		<div class="services__items">
			<a href="#" class="services__item item-services">
				<svg class="item__border" viewBox="0 0 1856 200" fill="none" xmlns="http://www.w3.org/2000/svg"
					preserveAspectRatio="none" aria-hidden="true">
					<path d="M1856 130.052L1786.05 200H0V69.999L70 0H1856V130.052Z" stroke="black" stroke-opacity="0.2"
						vector-effect="non-scaling-stroke" />
				</svg>
				<div class="item-services__wrapper">

					<div class="item-services__title">Graphic <br>
						Design

					</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__types">Logo / Brand Identity / social media content / ad design, presentations
						/
						print materials & More</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__info">Compelling visual assets designed to strengthen your brand across every
						touchpoint.</div>
				</div>
				<span class="item-services__line"></span>
			</a>
			<a href="#" class="services__item item-services">
				<svg class="item__border" viewBox="0 0 1856 200" fill="none" xmlns="http://www.w3.org/2000/svg"
					preserveAspectRatio="none" aria-hidden="true">
					<path d="M1856 130.052L1786.05 200H0V69.999L70 0H1856V130.052Z" stroke="black" stroke-opacity="0.2"
						vector-effect="non-scaling-stroke" />
				</svg>
				<div class="item-services__wrapper">

					<div class="item-services__title">UX/UI <br>
Design

					</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__types">Logo / Brand Identity / social media content / ad design, presentations
						/
						print materials & More</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__info">Compelling visual assets designed to strengthen your brand across every
						touchpoint.</div>
				</div>
				<span class="item-services__line"></span>
			</a>
			<a href="#" class="services__item item-services">
				<svg class="item__border" viewBox="0 0 1856 200" fill="none" xmlns="http://www.w3.org/2000/svg"
					preserveAspectRatio="none" aria-hidden="true">
					<path d="M1856 130.052L1786.05 200H0V69.999L70 0H1856V130.052Z" stroke="black" stroke-opacity="0.2"
						vector-effect="non-scaling-stroke" />
				</svg>
				<div class="item-services__wrapper">

					<div class="item-services__title">Motion <br>
Design

					</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__types">Logo / Brand Identity / social media content / ad design, presentations
						/
						print materials & More</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__info">Compelling visual assets designed to strengthen your brand across every
						touchpoint.</div>
				</div>
				<span class="item-services__line"></span>
			</a>
			<a href="#" class="services__item item-services">
				<svg class="item__border" viewBox="0 0 1856 200" fill="none" xmlns="http://www.w3.org/2000/svg"
					preserveAspectRatio="none" aria-hidden="true">
					<path d="M1856 130.052L1786.05 200H0V69.999L70 0H1856V130.052Z" stroke="black" stroke-opacity="0.2"
						vector-effect="non-scaling-stroke" />
				</svg>
				<div class="item-services__wrapper">

					<div class="item-services__title">3D <br>
Design

					</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__types">Logo / Brand Identity / social media content / ad design, presentations
						/
						print materials & More</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__info">Compelling visual assets designed to strengthen your brand across every
						touchpoint.</div>
				</div>
				<span class="item-services__line"></span>
			</a>
			<a href="#" class="services__item item-services">
				<svg class="item__border" viewBox="0 0 1856 200" fill="none" xmlns="http://www.w3.org/2000/svg"
					preserveAspectRatio="none" aria-hidden="true">
					<path d="M1856 130.052L1786.05 200H0V69.999L70 0H1856V130.052Z" stroke="black" stroke-opacity="0.2"
						vector-effect="non-scaling-stroke" />
				</svg>
				<div class="item-services__wrapper">

					<div class="item-services__title">Industrial <br>
Design

					</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__types">Logo / Brand Identity / social media content / ad design, presentations
						/
						print materials & More</div>
					<span class="item-services__icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 4H7.26364L4 7.26364V20H16.4002L20 16.4002V4Z" fill="black" />
						</svg>
					</span>
					<div class="item-services__info">Compelling visual assets designed to strengthen your brand across every
						touchpoint.</div>
				</div>
				<span class="item-services__line"></span>
			</a>

		</div>
	</div>
</div>