<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
	<include src="@components/custom/tcursor/tcursor.html"></include>
	<include src="@components/custom/homemain/homemain.html"></include>
	<include src="@components/custom/homeworks/homeworks.html"></include>
	<include src="@components/custom/homeservices/homeservices.html"></include>
	<include src="@components/custom/homeabout/homeabout.html"></include>
	<include src="@components/custom/homepartners/homepartners.html"></include>
</main>