<section data-fls-homepartners class="home-partners -spadding">
	<div class="home-partners__container">
		<div class="top-section-four">
			<h2 class="top-section-four__title">
				OUR CLIENTS <br>
				OUR PARTNERS <br>
				OUR FRIENDS
			</h2>
			<span></span>
			<div class="top-section-four__info">
				We are a strategic partner to our clients. We will help you to ideate, design and implement your product
				from conception to iterative development support, always taking the initiative and working proactively.
			</div>
		</div>
	</div>
	<div data-fls-marquee data-fls-marquee-speed="500" data-fls-marquee-space="16"
		class="home-partners__marquee marquee">
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/01.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/02.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/03.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/04.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/05.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/06.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/01.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
		<div class="marquee-item">
			<div class="marquee-item__wrapper">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M296.354 0.499997L38.2897 0.499997L0.353885 38.5" stroke="#BEBEBE" />
				</svg>

				<img src="@img/home/partners/02.svg" alt="Image">
				<svg width="297" height="39" viewBox="0 0 297 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 38.3535L258.064 38.3535L296 0.353489" stroke="#BEBEBE" />
				</svg>

			</div>
		</div>
	
	</div>
	<div class="home-partners__actions">
		<a href="#" class="-btn-04">
			Become a Client
			<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M29.8324 9H14.5633L10.1871 13.2194H25.4421L7.00073 31H13.3631L28.6232 16.2866L28.959 15.9629L32.9184 12.1453H32.9171L33.0007 12.0647V12.0536L29.8324 9ZM32.9982 16.1936L28.6232 20.3919V30.995L32.9994 26.7756V25.0268L32.9982 16.1936Z"
					fill="black" />
			</svg>
		</a>

	</div>
</section>
