.home-partners {
	color: #000;

	&__container {}

	&__marquee {
		transform-origin: center center;

		@media (prefers-reduced-motion: no-preference) {
			opacity: 0;
			clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
			transform: translate3d(0, 64px, 0) scale(0.96);
		}
	}

	&__actions {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.top-section-four {
	margin-bottom: 100px;
	display: flex;
	gap: 16px;

	&__title {
		font-size: 120px;
		font-weight: 800;
		line-height: 80%;
		flex: 0 0 870px;
	}

	> span {
		flex: 0 0 140px;
		height: 1px;
		background-color: #000;
		margin-top: 143px;
	}

	&__info {
		font-size: 32px;
		font-weight: 700;
		font-family: 'Satoshi';
		line-height: 110%;
		margin-top: 125px;
		flex: 1 1 auto;
		text-transform: uppercase;
	}
}

.marquee {}

.marquee-item {
	// margin-right: 16px !important;
	width: 296px;
	height: 216px;
	position: relative;

	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;flex-direction: column;
		justify-content: space-between;
		align-items: center;
		svg{
			width: 100%;height: auto;object-fit: contain;
			object-position: center;
		}
	}
}

.-btn-04 {}
