<section data-fls-homeblog class="home-blog -spadding">
	<div class="home-blog__container">
		<div class="top-section-five">
			<h2 class="top-section-five__title">
				Insights
			</h2>
			<span></span>
			<div class="top-section-five__inner">
				<p>Ideas, trends, and practical knowledge from branding, UX, web design, and digital product development.
				</p>
				<a class="-btn-04" href="#">
					More from Blog
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M29.8324 9H14.5633L10.1871 13.2194H25.4421L7.00073 31H13.3631L28.6232 16.2866L28.959 15.9629L32.9184 12.1453H32.9171L33.0007 12.0647V12.0536L29.8324 9ZM32.9982 16.1936L28.6232 20.3919V30.995L32.9994 26.7756V25.0268L32.9982 16.1936Z"
							fill="black" />
					</svg>
				</a>
			</div>
		</div>
		<div class="home-blog__body">
			<div class="home-blog__inner">
				<div class="home-blog__item item-home-blog">
					<div class="item-home-blog__image">
						<img src="@img/home/blog/01/01.jpg" alt="Image" data-pixel-image-effect>
					</div>
					<div class="item-home-blog__info">
						<p>3D product design <br> and future</p>
						<svg width="1077" height="39" viewBox="0 0 1077 39" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 38.3535L1038 38.3535L1076 0.353516" stroke="black" />
						</svg>
					</div>
				</div>
				<div class="home-blog__item item-home-blog">
					<div class="item-home-blog__image">
						<img src="@img/home/blog/02/01.jpg" alt="Image" data-pixel-image-effect>
					</div>
					<div class="item-home-blog__info">
						<p>3D product design <br> and future</p>
						<svg width="765" height="39" viewBox="0 0 765 39" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 38.3535L726 38.3535L764 0.353458" stroke="black" />
						</svg>
					</div>
				</div>
			</div>
			<div class="home-blog__inner">
				<div class="home-blog__item item-home-blog">
					<div class="item-home-blog__image">
						<img src="@img/home/blog/03/01.jpg" alt="Image" data-pixel-image-effect>
					</div>
					<div class="item-home-blog__info">
						<p>Sketching for 2D and <br> 3D product design</p>
						<svg width="921" height="39" viewBox="0 0 921 39" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 38.3535L882 38.3535L920 0.353516" stroke="black" />
						</svg>
					</div>
				</div>
				<div class="home-blog__item item-home-blog">
					<div class="item-home-blog__image">
						<img src="@img/home/blog/04/01.jpg" alt="Image" data-pixel-image-effect>
					</div>
					<div class="item-home-blog__info">
						<p>Presentation which <br> waiting all world</p>
						<svg width="921" height="39" viewBox="0 0 921 39" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 38.3535L882 38.3535L920 0.353516" stroke="black" />
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>